extends ../layout/index 

//- ¡Aquí estaba el error! Cambiamos "contenido" por "content"
block content
    .py-10
        h1.text-4xl.my-10.font-extrabold.text-center.text-green-400 Bienes
            span.font-normal.text-black Raíces
        h2.text-center.text-2xl.font-normal.text-black Por favor ingresa cuidadosamente tus datos

        if errores 
            .max-w-md.mx-auto.my-10 
                each error in errores 
                    p.bg-red-600.text-white.uppercase.text-xs.text-center.p-2.mb-1.font-bold= error.msg

        .mt-8.mx-auto.max-w-xl
            .bg-white.py-8.px-4.shadow-2xl.rounded-2xl
                form.space-y-5(method="POST" action="/auth/registro" noValidate)
                    div.px-5 
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="nombreUsuario") nombre completo:
                        input#nombreUsuario(type="text" class="w-full border border-gray-300 px-3 py-2 rounded-xl placeholder-gray-400 hover:border-gray-400 focus:inset-shadow-xl focus:inset-shadow-green-300 focus:outline-none" placeholder="p.e.: Jonathan Isai Leal Cruz" name="nombreUsuario" value= usuario ? usuario.nombreUsuario: '')
                    
                    div.px-5 
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="emailUsuario") correo electrónico:
                        input#emailUsuario(type="email" class="w-full border border-gray-300 px-3 py-2 rounded-xl placeholder-gray-400 hover:border-gray-400 focus:inset-shadow-xl focus:inset-shadow-green-300 focus:outline-none" placeholder="p.e.: correo@dominio.com" name="emailUsuario" value= usuario ? usuario.emailUsuario: '')
                    
                    div.px-5
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="passwordUsuario") Contraseña:
                        input#passwordUsuario(type="password" class="w-full border border-gray-300 px-3 py-2 rounded-xl placeholder-gray-400 hover:border-gray-400 focus:inset-shadow-md focus:inset-shadow-green-300/50 focus:outline-none" placeholder="Por los menos 8 carácteres" name="passwordUsuario")

                    div.px-5
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="confirmacionUsuario") Confirmación de Contraseña:
                        input#confirmacionUsuario(type="password" class="w-full border border-gray-300 px-3 py-2 rounded-xl placeholder-gray-400 hover:border-gray-400 focus:inset-shadow-md focus:inset-shadow-green-300/50 focus:outline-none" placeholder="Repite la contraseña anterior" name="confirmacionUsuario")
                    
                    div.flex.justify-center.py-6
                        input(class="w-3/4 bg-gray-300 text-green-500 hover:bg-green-500 hover:text-white font-bold py-3 cursor-pointer rounded-4xl shadow-lg uppercase transition-all duration-200" type="submit" value="Registrar Usuario")

                    div.flex.items-center.justify-between.pt-3
                        a(class="text-gray-500 text-sm hover:decoration-green-400 hover:underline transition decoration-2" href="/auth/login") ¿Ya tienes cuenta? Inicia Sesión
                        a(class="text-gray-500 text-sm hover:decoration-green-400 hover:underline transition decoration-2" href="/auth/recuperarPassword") ¿Olvidaste tu contraseña? Recupérala