extends ../layout/index

block content
    .py-10
        h1.text-4xl.my-10.font-extrabold.text-center.text-green-400 Bienes
            span.font-normal.text-black Raices
        
        h2.text-center.text-2xl.font-normal.text-black Por favor ingresa tus datos cuidadosamente 

        .mt-8.mx-auto.max-w-md
            .bg-white.py-8.px-4.shadow-2xl.rounded-md
                //- Agregamos el método POST y la ruta a donde se enviarán los datos
                form.space-y-5(method="POST" action="/auth/registro")
                    
                    div
                        //- Aplicamos tu idea: for, id y name son "nombreUsuario"
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="nombreUsuario") Nombre Completo:
                        input#nombreUsuario.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="p.e: Jonathan Isai Leal Cruz" type="text" name="nombreUsuario")
                    
                    div
                        //- Aplicamos la misma lógica para el email
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="emailUsuario") Correo Electrónico:
                        input#emailUsuario.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="p.e: usuario@dominio.com" type="email" name="emailUsuario")

                    div
                        //- Y para la contraseña
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="passwordUsuario") Contraseña:
                        input#passwordUsuario.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="p.e: ContraseñaSegura123" type="password" name="passwordUsuario")

                    div
                        //- Y para confirmar la contraseña
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="repetirPasswordUsuario") Confirmación de Contraseña:
                        input#repetirPasswordUsuario.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Repite tu Password" type="password" name="repetirPasswordUsuario")

                    //- El botón de enviar
                    input(class="w-full bg-green-500 hover:bg-green-300 text-white font-bold py-3 cursor-pointer rounded-4xl shadow-lg uppercase" type="submit" value="Crear Cuenta")

                //- Enlaces inferiores (quedan fuera del form, lo cual es correcto)
                div.flex.items-center.justify-between.mt-5
                    a.text-gray-500.text-xs(href="/auth/login" class="hover:text-green-300 hover:underline") ¿Ya tienes cuenta? Inicia Sesión
                    
                    a.text-gray-500.text-xs(href="/auth/olvidepassword" class="hover:text-green-300 hover:underline") Olvidé mi Password