extends ../layout/index

block content
    .py-10
        h1.text-4xl.my-10.font-extrabold.text-center.text-green-400 Bienes
            span.font-normal.text-black Raices
        
        h2.text-center.text-2xl.font-normal.text-black Por favor ingresa tus datos cuidadosamente 

        .mt-8.mx-auto.max-w-md
            .bg-white.py-8.px-4.shadow-2xl.rounded-md
                form.space-y-5
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="nombre") Tu Nombre
                        input#nombre.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="p.e:Jonathan Isai Leal Cruz" type="text" name="nombre")
                    
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="email") Correo Electronico
                        input#email.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="p.e:usuario@dominio.com" type="email" name="email")

                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="password") Contraseña
                        input#password.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="p.e:ContraseñaSegura123" type="password" name="password")

                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="repetir_password") Confirmacion de contraseña
                        input#repetir_password.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Repite tu Password" type="password" name="repetir_password")

                    input(class="w-full bg-green-500 hover:bg-green-300 text-white font-bold py-3 cursor-pointer rounded-4xl shadow-lg uppercase" type="submit" value="Crear Cuenta")

                    div.flex.items-center.justify-between 
                        a.text-gray-500.text-xs(href="/auth/login") ¿Ya tienes cuenta? Inicia Sesión
                        a.text-gray-500.text-xs(href="/auth/olvide-password") Olvidé mi Password